{% extends "site_base.j2" %}

{% block header_right %}
    <h1>Recent Updates</h1>
{% endblock %}

{% block mid_column %}
    <h3>Other places online</h3>
    <ul class=list>
        <li><a href="http://twitter.com/ironfroggy">@ironfroggy</a>
            <em class=list-extra>Ramblings and tweets both technical and personal</em>
        <li><a href="http://github.com/ironfroggy">github.com/ironfroggy</a>
            <em class=list-extra>My open source projects are all here</em>
        <li><a href="http://techblog.ironfroggy.com/">My tech blog</a>
            <em class=list-extra>This may merge in the future</em>
        <li><a href="http://ironfroggy-reads.tumblr.com/">Ironfroggy Reads Things</a>
            <em class=list-extra>Things I read, respond to, and/or find interesting online</em>
    </ul>
    <h3><a href="{{ engine.get_bundle(key="i-am").url() }}">Who am I?</a></h3>
    <ul class=list>
        <li>Developer by love, Tester by trade for <a href="http://redhat.com/">Red Hat</a>
        <li>Vegan atheist commie feminist for a maybe-doomed world
        <li>Partner and Parent
        <li>Some times writer and artist
        <li>Enjoyer of TV and games
    </ul>
{% endblock %}

{% block content %}
    {% set tease_length = 500 %}
    {% for bundle in engine.get_bundles_by("updated_time", "desc", status="published") %}
        {{ article_tease(bundle, tease_length) }}
        {% set tease_length = 255 %}
    {% endfor %}
{% endblock %}
