{% extends "site_base.j2" %}

{% block header_right %}
    <h1>Projects</h1>
{% endblock %}

{% block mid_column %}
    <h3>Active Projects</h3>
    {{ bundle.content|safe }}
    <h3>Other places online</h3>
    <ul class=list>
        <li><a href="http://github.com/ironfroggy">github.com/ironfroggy</a>
            <em class=list-extra>My open source projects are all here</em>
        <li><a href="http://readthedocs.org/profiles/ironfroggy/">my readthedocs.org profile</a>
            <em class=list-extra>Documentation for my projects, like a responsible developer</em>
    </ul>
{% endblock %}

{% block content %}
    {% for bundle in engine.get_bundles_by("title", "desc", type="project") %}
        <article class=tease>
            {% if bundle.url() %}
                <h3><a href="{{ bundle.url() }}">{{ bundle.meta.title|title }}</a></h3>
            {% elif bundle.meta.link_to %}
                <h3><a href="{{ bundle.meta.link_to }}">{{ bundle.meta.title|title }}</a></h3>
            {% else %}
                <h3>{{ bundle.meta.title|title }}</h3>
            {% endif %}
            <h4>{{ bundle.meta.publish_time }}
            {% if bundle.tags %}
            <span class=tags>
            {% for tag in bundle.tags %}
                {{ tag }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            </span>
            {% endif %}
            </h4>
            {{ bundle.content|safe }}
        </article>
    {% endfor %}
{% endblock %}
