{% extends "base.j2" %}

{% macro show_meta(bundle) %}
    {
    {% for key in bundle.meta %}
        {{ key }}: {{ bundle.meta[key] }},
    {% endfor %}
    }
{% endmacro %}

{% macro title(bundle) %}{% if bundle.meta.title %}{{ bundle.meta.title|smartTitle }}{% else %}{{ bundle.key|smartTitle }}{% endif %}{% endmacro %}

{% macro article_tease(bundle, tease_length) %}
    <article class=tease>
        {% set series = plugins.collections.get_collection(bundle, 'series') %}
        {% if series %}
            <h3 class=pre-title>{{ title(series) }}</h3>
        {% endif %}
        <h3 class=title><a href="{{ bundle.url() }}">{{ title(bundle) }}</a></h3>
        <h4 class=peak>{{ bundle.meta.publish_time }}
            {% if bundle.tags %}
            <span class=tags>
            {% for tag in bundle.tags %}
                {{ tag }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            </span>
            {% endif %}
        </h4>
        {% if bundle.content %}
            {{ bundle.content|truncateHTML(bundle.meta.tease_length or tease_length)|safe }}...
        {% endif %}
        <a class="peak read-more" href="{{ bundle.url() }}">more</a>
    </article>
{% endmacro %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="/css/pygments.css">
    <link rel="stylesheet" type="text/css" href="/css/foundation-icons-general.css">
    <link rel="stylesheet/less" type="text/css" href="/css/site.less">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="http://{{ config.domain }}/atom.xml" type="application/atom+xml" rel="alternate" title="www.ironfroggy.com ATOM feed" />

    {% for page_stylesheet in bundle.meta.stylesheets %}
        <link rel="stylesheet/less" type="text/css" href="{{ page_stylesheet }}">
    {% endfor %}

    <script type="text/javascript" src="/js/less-1.3.0.min.js"></script>
{% endblock %}

{% block header %}
    <div class=header-page>
        {% block header_right %}
        {% endblock %}
    </div>
    <div class=header-site>
        <h1><a href="/">{{ config.title }}</a></h1>
        {% if config.subtitle %}
            <h3>{{ config.subtitle }}</h3>
        {% endif %}
    </div>
    <div style="clear: both;">
    </div>
{% endblock %}

{% block main %}
{#
    <a id=fork-me href="https://github.com/ironfroggy/www.ironfroggy.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
#}
    <div class=right-column>
        {% block content %}
        {% endblock %}
    </div>

    <div class=mid-column>
        {% block mid_column %}{% endblock %}
        &nbsp;
    </div>

    <div class=left-column>

        <h3><a href="{{ engine.get_bundle(key="programming").url() }}">Calvin is a Programmer <span class="glyph general">u</span></a></h3>
        <p>who writes about and works with Python, C#, Javascript, Testing software, and Making games</p>

        <!--
        <h3><a href="{{ engine.get_bundle(key="writing").url() }}">... a Writer <span class="glyph general">u</span></a></h3>
        <p>who is loves reading and writing, and unfinished novels</p>

        <h3><a href="{{ engine.get_bundle(key="personal").url() }}">... a Person <span class="glyph general">u</span></a></h3>
        <p>who is passionate about animal cruelty, feminism, queer activism, veganism, and redistributing wealth</p>
        -->
        
        {% if bundle.key != "index" %}
            <h3>Posts</h3>
            <ul class=list>
            {% for bundle in engine.get_bundles_by("publish_time", "desc", 5, status="published", type="post") %}
                <li>
                    <a href="{{ bundle.url() }}">{{ title(bundle) }}</a><br />
                    <em class=list-extra>{{ bundle.meta.publish_time }}</em>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        <h3><a href="{{ engine.get_bundle(title="Projects").url() }}">Projects <span class="glyph general">u</span></a></h3>
        <h3><a href="{{ engine.get_bundle(key="about").url() }}">About <span class="glyph general">u</span></a></h3>

        <h3>Tags</h3>
        <ul class=list>
        {% for tag in collections['tags']|sort(attribute='value') %}
            {% if tag.active %}
                <li><a href="{{ tag.url() }}">{{ tag.value }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>

    </div>

{% endblock %}

{% block footer %}
    copyright 2012 Calvin Spealman
{% endblock %}
